# =============================
# ARCHIVOS SENSIBLES
# =============================
.env
*.env
web/.env

# =============================
# PYTHON
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd

# =============================
# ENTORNOS VIRTUALES
# =============================
venv/
env/
entorno/

# =============================
# BASES DE DATOS
# (Nunca subirlas)
# =============================
*.sqlite3
*.mdf
*.ldf
*.bak
*.bacpac

# =============================
# DJANGO
# =============================
staticfiles/
media/

# =============================
# EDITORES / SISTEMA
# =============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =============================
# ARCHIVOS TEMPORALES / LOGS
# =============================
*.log
*.tmp
*.dat

# =============================
# OTROS ARCHIVOS BINARIOS
# =============================
*.exe
*.dll
